@import url('variables.css');

@font-face {
    font-family: 'Articulat CF';
    src: url('../fonts/ArticulatCF-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Articulat CF';
    src: url('../fonts/ArticulatCF-Normal.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--cream);
    font-family: "Articulat CF";
    font-weight: 400;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#background-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
/* nav bar styles */
.navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #dadada;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    height: 75px;
}

.navbar-container {
    display: flex;
    z-index: 2;
    align-items: center; /* This ensures vertical alignment */
    justify-content: space-between;
    padding: 0px 20px; /* Increased horizontal padding for better spacing */
    height: 100%;
}

.navbar-container > div {
    display: flex;
    align-items: center; /* Aligns logo and text vertically */
}

.implied-text {
    margin-left: 10px; /* Adds some space between logo and text */
    font-size: 18px; /* Adjust as needed */
}

@media screen and (max-width: 768px) {
    .navbar-group {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .navbar-group {
        display: flex;
        align-items: center; /* Ensures vertical alignment of all items */
        gap: 20px; /* Reduced gap for better spacing */
    }   
}

.navbar-item {
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.navbar-item:hover {
    transition: 0.5s;
    color: var(--secondary-accent);
}

.navbar-link {
    text-decoration: none;
    color: inherit;
}


/* text styles */
.orange-text-regular {
    color: var(--orange);
}

.orange-text-italics {
    color: var(--orange);
    font-style: italic;
}

.army-text {
    color: var(--army);
}

.implied-text {

    color: var(--army);

font-size: 36.3px;
font-weight: 500;
line-height: 37.03px;
letter-spacing: -0.02em;
text-align: left;

}




.subheading {
    align-self: center;
    text-align: center;
    color: var(--primary-text);
}

h2, p {
    color: var(--primary-text);
}

/* button styles */

.btn-group {
    display: flex;
    gap: 10px;
}

.btn-item {
    cursor: pointer;
    border-radius: 48px;
    padding: 12px 24px;
    border: 2px solid transparent;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);
    font-family: "Articulat CF";
    font-weight: 500;
    letter-spacing: -0.02em;
    text-align: center;
    transition: 0.5s;
    padding: 0.5rem 1rem !important;
    height: auto; /* Ensures the button height is based on content */
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-item:hover {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

.login-btn {
    background-color: var(--cream);
    color: var(--dark-grey);
    border-color: #E6E6E6;
    font-size: 20px;
    line-height: 28px;
}

.trial-btn {
    background-color: var(--orange);
    color: var(--cream);
    border-color: rgba(255, 253, 250, 0.2);
    font-size: 18px;
    line-height: 25.2px;
    padding: 18px 36px;
}

.login-btn-arrow {
    width: 10.5px;
height: 10.5px;
top: 3.75px;
left: 3.75px;
gap: 0px;
border: 2px;
margin-left: 5px;

}

.hero {
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;


}

@media screen and (max-width: 768px) {
    .hero {
        padding-bottom: 25vh;
    }
}

@media screen and (min-width: 769px) {
    .hero {
        padding-bottom: 50vh;
    }
}

.hero-title {
    font-weight: 400;
    font-family: "Articulat CF";
        font-size: 96px;
    line-height: 96px;
    letter-spacing: -0.02em;
    text-align: center;
    
    color: var(--army);
}

h2 {
    font-size: 45px;
    font-weight: 450;
    margin-bottom: 10px;
}

.hero-subtitle {
    font-size: 24px;
    color: var(--grey);
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
    text-align: center;

}

.product-container {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.product-section {
    display: grid;
    height: 500px;
}

/* Anything larger than a table */
@media screen and (min-width: 1025px) {
    .product-container {
        gap: 200px;
    }

    .product-section:nth-child(even) {
        direction: rtl;
    }

    .product-section:nth-child(even) .product-description,
    .product-section:nth-child(even) .placeholder {
        direction: ltr;
    }
}

@media screen and (min-width: 1301px) {
    .product-section {
        grid-template-columns: 500px 800px;
        gap: 50px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1300px) {
    .product-section {
        grid-template-columns: 300px 700px;
        gap: 50px;
    }    
}

/* Mobile layout */
@media screen and (max-width: 1024px) {
    .product-container {
        gap: 50px;
    }

    .product-section {
        grid-template-columns: 1fr;
        height: auto;
    }

    .product-description {
        order: 1;
    }

    .placeholder {
        order: 2;
    }

    .placeholder img {
        height: 300px; /* Adjust as needed */
    }
}

.product-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .product-description {
        padding: 0px 20px;
        text-align: center;
    }
}

@media screen and (min-width: 1025px) {
    .product-description {
        padding-left: 50px;
    }
}

@media screen and (min-width: 1025px) {
    .placeholder {
        width: 100%;
        height: 100%;
        border: 1px solid var(--secondary-accent);
    }
}

@media screen and (max-width: 1024px) {
    .placeholder {
        height: 300px;
        margin: 0px 20px;
        border: 1px solid var(--secondary-accent);
    }
}

.company-container {
    align-self: center;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .team-description {
        align-self: center;
        display: grid;
        padding: 0px 20px;
    }
}

@media screen and (min-width: 1025px) {
    .team-description {
        align-self: center;
        display: grid;
        grid-template-columns: 500px 500px;
        gap: 75px;
    }
}

.team-description-section {
    text-align: center;
}

.signup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    z-index: 1;
    display: flex;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#get-started.active {
    opacity: 1;
    visibility: visible;
}

.signup-contents {
    border: 1px solid var(--ternary-accent);
    position: relative;
    padding: 25px;
    border-radius: 10px;
    background-color: var(--primary-bg);
    width: 50vw;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

#get-started.active .signup-contents {
    transform: scale(1);
    opacity: 1;
}

.signup-exit {
    cursor: pointer;
    margin-left: auto;
}

.interest-form {
    margin-bottom: 25px;
}

@media screen and (max-height: 1000px) {
    .interest-form-header {
        font-size: 20px;
        font-weight: 400;
    }

    .signup-contents {
        width: 100vw;
        align-self: center;
        justify-self: center;
    }
}

.interest-form-header {
    align-self: center;
    text-align: center;
    color: var(--primary-text);
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.full-width {
    grid-column: 1 / -1;
}

label {
    margin-bottom: 5px;
}

select, input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.required-label::after {
    content: "*";
    color: red;
}

.footer {
    width: 100%;
    height: 100px;
    display: grid;
    /* border-top: 1px solid var(--secondary-accent); */
    border-top: 1px solid #dadada;  
    margin-top: 35px;
}

@media screen and (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr;
        align-items: center;
    }

    .footer-logo {
        margin-top: 15px;
        text-align: center;
    }

    .copyright {
        text-align: center;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 769px) {
    .footer {
        align-self: center;
        grid-template-columns: 1fr 1fr;
    }

    .footer-logo {
        margin: 25px;
    }

    .copyright {
        text-align: end;
        align-self: center;
    }
}